.home {
    padding-bottom: 200px;
}

.home-container {
    padding: 30px 0;
}

/* Category */
.category {
    padding: 8px 16px 12px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.category-heading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.category-heading-wrapper i {
    font-size: 1.6rem;
    color: #000;
    line-height: 26px;
}

.category__heading,
.category-info__heading {
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 500;
}

.category-item {
    position: relative;
}

.category-item,
.category-info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0;
    border-bottom: 1px solid #E5E5E5;
    cursor: pointer;
}

.category-item:hover .category-item__link,
.category-item:hover .category-item__count,
.category-info-item:hover .category-info-item__link,
.category-info-item:hover .category-info-item__count {
    color: var(--primary-color);
}

.category-item:hover > .category-item-info {
    display: block;
    opacity: 1;
}

.category-item:last-child {
    border-bottom: none;
}

.category-item__count,
.category-info__count,
.category-info-item__count {
    font-size: 1.2rem;
    color: rgb(136,136,151);
}

.category-item-info {
    position: absolute;
    display: none;
    opacity: 0;
    top: 0;
    right: -265px;
    width: 250px;
    background-color: #fff;
    padding: 12px 16px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: opacity 0.1s linear;
    will-change: opacity;
}


.category-info-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #E5E5E5;
}

.category-info__heading {
    font-size: 1.3rem;
}

.category-info-item {
    border-bottom: none;
}

/* Home Filter */
.home-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 0;
    border-bottom: 1px solid #E5E5E5;
}

.home-filter-heading-link {
    display: block;
}

.home-filter__heading {
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 12px;
    cursor: pointer;
}

.home-filter-list {
    display: flex;
}

.filter-item {
    padding: 0 14px 4px;
}

.filter-item:first-child {
    padding-left: 0;
}

.filter-item:last-child {
    padding-right: 0;
}

.filter-item__link {
    position: relative;
    display: block;
}

.filter-item:hover .filter-item__link {
    color: var(--primary-color);
}

.filter-item--active .filter-item__link {
    color: var(--primary-color);
}

.filter-item--active .filter-item__link::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: var(--primary-color);
    box-shadow: 0 -1px 4px rgb(84, 199, 176);
}

/* Product item */
.product-item {
    position: relative;
    height: 200px;
    background-color: #ffffff;
    margin-top: 50px;
    padding: 12px 22px 0 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.product-item:hover .product-item-footer .product-item__detail {
    display: block;
}

.item__book-icon--book {
    top: 20px;
    left: 30%;
}

.product-item:hover .item__book-icon--book {
    transform: scale(0.75);
    opacity: 1;
}       

.product-item-head {
    display: flex;
}

.product-item-left {
    position: relative;
}

.product-item__img {
    margin-top: -34px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.product-item-right {
    margin-left: 16px;
}   

.product-item__name a,
.product-item__author a,
.product-item__intro,
.box-new__item-name > a,
.box-new__item-author > a,
.most-view__link,
.audio-book__heading-link {
    font-weight: 300;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 4px;
}

.product-item__name a,
.box-new__item-name {
    color: var(--text-color);
    font-size: 1.3rem;
    line-height: 1.7rem;
}

.product-item__author a,
.product-item__vote,
.product-item__intro,
.product-item__view,
.box-new__item-author > a {
    color: rgb(136,136,151);
    font-size: 1.1rem;
    line-height: 1.2rem;
}

.product-item__author a,
.box-new__item-author > a {
    -webkit-line-clamp: 1;
}

.product-item__rate {
    position: relative;
    display: inline-block;
    background: transparent url("../../img/heart_nocolor.png") no-repeat;
    width: 69px;
    height: 12px;
}

.rate-icon {
    position: absolute;
    display: inline-block;
    background: transparent url("../../img/heart_color.png") no-repeat;
    height: 100%;
}

.product-item__vote {
    margin-top: -4px;
}

.product-item__intro {
    margin-top: 4px;
    line-height: 2.4rem;
}

.product-item__break-line {
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right,rgb(240, 240, 240),rgb(255, 255, 255));
    margin-top: 8px;
}

.product-item-footer {
    display: flex;
    justify-content: space-between;
}

.product-item__view {
    margin-top: 8px;
    text-align: left;
}

.product-item__detail {
    display: none;
    max-width: 85px;
    height: 25px;
    line-height: 25px;
    padding: 0 12px;
    margin-top: -12px;
    transition: all 0.2s ease;
    text-transform: uppercase;
}

/* Home schedule */
.schedule-container {
    width: 100%;
}

.shedule-left {
    display: flex;
    align-items: center;
    height: 160px;
    padding: 18px 24px;
    background-color: #8BD0DE;
}

.shedule-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 16px 30px;
}

.shedule-title__text,
.shedule-title__year {
    margin: 0;
    font-size: 1.9rem;
    color: #ffffff;
    font-weight: 400;
}

.shedule-title__year {
    position: relative;
}

.shedule-title__year::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 50px;
    background-color: #fff;
    top: 50%;
    right: 100%;
    transform: translate(-8%,-50%);
}

.shedule-title__year::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 50px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(50%,-50%);
}

.shedule-title__month {
    font-size: 3.4rem;
    color: #ffffff;
    font-weight: 400;
    line-height: 1;
}

.shedule-title__corner {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #fff;
}

.shedule-title__corner--top-left {
    top: 0;
    left: 0;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.shedule-title__corner--top-right {
    top: 0;
    right: 0;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.shedule-title__corner--bottom-left {
    bottom: 0;
    left: 0;
    border-top-color: transparent;
    border-right-color: transparent;
}

.shedule-title__corner--bottom-right {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
}

.schedule-right {
    position: relative;
    display: flex;
    align-items: center;
    padding:0 30px 0 6px;
    background-color: #8BD0DE;
    height: 100%;
}

.schedule-list {
    display: flex;
    padding-bottom: 10px;
    overflow-x: scroll;
}

.schedule-list::-webkit-scrollbar {
    height: 6px;
    background-color: #AEDEE8;
    border-radius: 4px;
}

.schedule-list::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}

.schedule-list::-webkit-scrollbar-thumb:hover {
    background-color: #1BA085;
}

.schedule-list__item {
    display: flex;
    align-items: center;
    min-width: 240px;
    height: 102px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 16px;
    margin-right: 20px;
    border: 1px solid transparent;
    transition: border 0.1s linear;
    cursor: pointer;
}

.schedule-list__item:last-child {
    margin-right: 0;
}

.schedule-list__item:hover {
    border: 1px solid #3EA9BF;
}

.schedule-list__item-time {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #8BD0DE;
    color: #ffffff;
    min-width: 72px;
    max-width: 72px;
    height: 72px;
    margin-right: 6px;
    border-radius: 3px;
}

.schedule-list__item-day-of-week {
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.1;
}

.schedule-list__item-day-and-month {
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 700;
}

.schedule-list__item-description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin-left: 6px;
}

.schedule-list__item-title {
    font-size: 1.3rem;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

.schedule-list__item-episode {
    font-size: 1.5rem;
    color: #3A4752;
    font-weight: 600;
    line-height: 1.2rem;
}

/* New */
.box-new__container,
.selling__container ,
.collection__container,
.advice__container {
    margin-top: 30px;
    padding: 16px 10px 24px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
    background-color: #fff;
}

.box-new__head,
.selling-head,
.selctive-head,
.advice-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0 12px 0;
    border-bottom: 1px solid #ECEDEE;
}

.box-new__heading a,
.selling__heading-link,
.collection__heading-link,
.advice__heading-link {
    display: block;
    font-size: 2rem;
    color: #3A4752;
    font-weight: 400;
}

.box-new__heading:hover > a,
.selling__heading:hover > a,
.collection__heading:hover > a,
.advice__heading:hover > a {
    color: var(--primary-color);
}

.box-new__view-all,
.selling__view-all,
.collection__view-all,
.advice__view-all {
    display: block;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--primary-color);
}

.box-new__view-all:hover,
.selling__view-all:hover,
.collection__view-all:hover,
.advice__view-all:hover {
    text-decoration: underline;
}

/* new main */
.box-new__body,
.selling-body,
.collection-body,
.advice-body {
    margin-top: 20px;
    position: relative;
}

.box-new__item {
    position: relative;
    width: 100%;
    height: 358px;
    border-radius: 3px;
    border: none;
}

/*new head (img, link, hover) */
.box-new__item-head {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.box-new__item-img--wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 255px;
}

.box-new__item-img {
    width: 100%;
    height: 255px;
}

.box-new__item-link--wrapper-img {
    position: absolute;
    z-index: 2;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.box-new__item-link{
    display: block;
    padding-right: 14px;
}

/*new mid (name, author) */
.box-new__item-body {
    position: relative;
    height: 70px;
    z-index: 2;
    margin: 0 10px;
    padding: 6px 0 4px 0;
}

.box-new__item-author:hover > .box-new__item-link {
    color: var(--primary-color);
}

/*new footer (vote) */
.box-new__item-footer {
    height: 32px;
    margin: 0 10px;
    padding: 2px 0 4px 0;
    border-top: 1px solid #DFDFDF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.box-new__item-vote {
    font-size: 1.3rem;
    color: var(--text-color);
}

.box-new__item-vote--primary-color {
    color: var(--primary-color);
}

.box-new__item-vote--opaque {
    color: #888888;
}

.box-new__item::before {
    position: absolute;
    z-index: 2;
    display: block;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    width: calc(98.8% + 0.04px);
    height: 100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: all 0.2s linear;
    overflow: hidden;
}

.box-new__item:hover.box-new__item::before {
    border: 1px solid var(--primary-color);
}

.item__book-icon--box-new {
    top: 40%;
    left: 34%;
}

.box-new__item:hover .box-new__item-head .item__book-icon--box-new {
    transform: scale(0.75);
    opacity: 1;
}

.box-new__icon-swiper {
    position: absolute;
    font-size: 2rem;
    color: #45515C;
    top: 50%;
    cursor: pointer;
}

.box-new__icon-swiper:hover {
    color: var(--primary-color);
}

.box-new__icon-swiper--left {
    left: 0;
}

.box-new__icon-swiper--right {
    right: 0;
}

.box-new__icon-swiper--disable,
.box-new__icon-swiper--disable:hover {
    color: #EEEEEE;
    cursor: default;
}

/* Home rank & book */

.home-container--second {
    margin-top: 30px;
}

.home-rank {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    
}

.home-rank__heading--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
}

.home-rank__heading {
    font-size: 1.6rem;
    font-weight: 400;
}

.home-rank__icon {
    background: transparent url("../../img/rank-icon.png") no-repeat;
    height: 16px;
    width: 16px;
}

.home-rank__top-1-img {
    position: relative;
    left: 0;
    right: 0;
}

.home-rank__list {
    position: relative;
    margin-top: -68px;
}

.home-rank__item {
    height: 60px;
    margin: 0 16px;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-rank__item:first-child {
    margin: 0;
    padding: 0 16px;
    background-color: rgba(248, 247, 248, 0.8);
}

.home-rank__current-rank{
    font-size: 1.6rem;
    color: #888888;
    margin: 0 16px 0 2px;
}

.home-rank__avt {
    width: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.home-rank__name {
    color: var(--text-color);
    font-size: 1.3rem;
    max-width: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.home-rank__time {
    font-size: 1.2rem;
    color: #888888;
    margin-left: auto;
}

.home-rank__item:first-child .home-rank__name {
    font-size: 1.6rem;
    color: #EF2843;
}

.home-rank__item:first-child .home-rank__time,
.most-view__item:first-child .most-view__view-count {
    color: #EF2843;
}

.home-rank__item:nth-child(2) .home-rank__current-rank,
.home-rank__item:nth-child(2) .home-rank__time,
.most-view__item:nth-child(2) .most-view__view-count {
    color: #FBAD2A;
}

.home-rank__item:nth-child(3) .home-rank__current-rank,
.home-rank__item:nth-child(3) .home-rank__time,
.most-view__item:nth-child(3) .most-view__view-count {
    color: #4ED424;
}

.home-rank__footer {
    display: block;
    color: var(--primary-color);
    text-align: center;
    padding: 12px 0;
    line-height: 1;
}

.home-rank__footer:hover {
    text-decoration: underline;
}

/*View rank */

.most-view {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.most-view__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
    padding: 6px 0 8px;
    margin: 0 20px;
}

.most-view__heading {
    font-size: 1.7rem;
    font-weight: 300;
}

.most-view__icon {
    font-size: 1.6rem;
    color: var(--text-color);
}

.most-view__list {
    padding-bottom: 6px;
}

.most-view__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin: 0 20px;
    border-bottom: 1px solid #E8E8E8;
}

.most-view__item:last-child {
    border-bottom: none;
}

.most-view__link {
    display: block;
    max-width: 80%;
    margin: 0;
}

.most-view__view-count {
    font-size: 1.2rem;
}

/* Audio book container */
.audio-book {
    margin-top: 50px;
    height: auto;
}

.audio-book-head {
    position: relative;
    margin: -32px auto 0 auto;
    width: 144px;
    height: 211.2px;
}

.audio-book-body {
    margin-top: 10px;
}

.audio-book__img {
    width: 144px;
    height: 211.2px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.audio-book__overlay {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.audio-book__heading {
    margin-top: 2px;
    height: 40px;
    line-height: 1;
}

.audio-book__author {
    line-height: 1;
}

.audio-book__heading-link {
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 400;
}

.audio-book__author-link,
.audio-book__view {
    font-size: 1.1rem;
    color: #888888;
    -webkit-line-clamp: 1;
}

.item__book-icon--play {
    background: transparent url(../../img/play-icon.png) no-repeat;
    top: 35%;
    left: 35%;
}

.audio-book:hover .item__book-icon--play {
    transform: scale(0.75);
    opacity: 1;
}

.audio-book:hover .audio-book__title-overlay {
    display: flex;
}

.audio-book__title-overlay {
    position: absolute;
    display: none;
    z-index: 1;
    top: 134px;
    left: 0;
    right: 0;
    padding: 4px;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    transition: all 0.3s linear;
}

.audio-book__title-head,
.audio-book__title-footer {
    color: white;
    font-size: 1.3rem;
}

/* Comic */
.comic {
    background: transparent url(../../img/bg-box-comic.jpg) no-repeat;
    height: 482px;
    max-height: 482px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.comic-wraper {
    padding: 16px 0;
}

.comic-head {
    height: 110px;
    max-height: 110px;
    width: 100%;
    display: flex;
}

.comic-btn__box {
    width: 222px;
    height: 110px;
    max-height: 110px;
    border: 2px solid #000;
}

.comic-btn__text-link {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.comic-btn__text {
    cursor: pointer;
}

.comic-btn__text,
.comic__description-text  {
    text-transform: uppercase;
    text-align: center;
    font-family: 'CC Astro City', Arial, sans-serif;
    font-size: 3rem;
    color: #ffffff;
}

.comic-body {
    margin-top: 30px;
    position: relative;
}

.comic__img--wrapper {
    background-color: #000000;
    border-radius: 4px;
    padding: 16px 0;
    text-align: center;
    position: relative;
    transition: color linear 0.2s;
    min-width: 220px;
    max-width: 220px;
}

.comic__img--wrapper:hover {
    /* Dung` js moi dung */
    background-color: #ffffff;
}

.comic__img--active {
    background-color: #ffffff;
}

.comic__img {
    width: 185px;
    height: 270px;
    vertical-align: middle;
}

.comic-overlay {
    position: absolute;
    display: block;
    width: 185px;
    height: 270px;
    top: 16px;
    left: 17px;
}

.comic__description {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 845px;
    margin-left: 80px;
}

.comic__description-text  {
    height: 74px;
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comic__icon-swiper {
    position: absolute;
    font-size: 2rem;
    color: rgb(246, 244, 245);
    top: 50%;
    cursor: pointer;
}

.comic__icon-swiper:hover {
    color: var(--primary-color);
}

.comic__icon-swiper--disable {
    color: rgba(246, 244, 245, 0.15);
    cursor: default;
}

.comic__icon-swiper--disable:hover {
    color: rgba(246, 244, 245, 0.15);
}

.comic__icon-swiper--left {
    left: 0;
}

.comic__icon-swiper--right {
    right: 0;
}

/* Selling */

.selling__item,
.advice__item {
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    transition: all linear 0.1s;
}

.selling__item:hover,
.advice__item:hover {
    box-shadow: 10px 2px 16px rgba(0, 0, 0, 0.2);
}

.selling__item:hover .selling__item-head .selling__item-overlay,
.advice__item:hover .advice__item-head .advice__item-overlay {
    display: flex;
    opacity: 1;
}

.selling__item-head,
.advice__item-head {
    position: relative;
    padding: 0px 12px 4px;
    border-bottom: 2px solid var(--primary-color);
    text-align: center;
}

.selling__item-img,
.advice__item-img {
    margin-top: 16px;
    width: 140px;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.selling__item-footer,
.advice__item-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}

.selling__item-price,
.advice__item-price {
    font-size: 1.7rem;
    color: var(--text-color);
}

.selling__item-overlay,
.advice__item-overlay {
    position: absolute;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    background-color: var(--primary-color);
    transition: display ease 0.3s, opacity ease 0.3s;
}

.selling__item-name,
.advice__item-name {
    height: 50px;
}

.selling__item-name-link,
.advice__item-name-link {
    color: white;
    text-align: left;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.selling__item-author,
.advice__item-author {
    margin-bottom: 12px;
}

.selling__item-author-link,
.advice__item-author-link {
    color: white;
    font-size: 1.1rem;
}

.selling__item-name-link:hover,
.selling__item-author-link:hover,
.advice__item-name-link:hover,
.advice__item-author-link:hover {
    color: white;
    text-decoration: underline;
}

.selling__item-btn,
.advice__item-btn {
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid white;
    transition: all linear 0.1s;
}

.selling__item-btn a,
.advice__item-btn a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 2.6rem;
    color: white;
}

.selling__item-btn:hover,
.advice__item-btn:hover {
    background-color: white;
}

.selling__item-btn:hover a,
.advice__item-btn:hover a {
    color: var(--primary-color);
}

/* Collection  box*/

.collection-body {
    display: flex;
    justify-content: space-between;
}

.collection__list {
    padding: 0 16px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.collection__item {
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    width: 220px;
    height: 108px;
    margin-right: 60px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: transform linear 0.2s;
}

.collection__item:last-child {
    margin-right: 0;
}

.collection__item:hover .collection__item-overlay {
    display: block;
}

.collection__item:hover {
    transform: scale(1.11);
}

.collection__item-img {
    height: 108px;
    width: 220px;
    border-radius: 3px;
}

.collection__item-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.collection__item-count {
    position: absolute;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 11px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection__item-inner-count {
    font-size: 1.6rem;
    color: var(--text-color);
    text-align: center;
    height: 32px;
    width: 32px;
    padding-top: 2px;
    padding-right: 2px;
    border-radius: 50%;
    border: 1px solid #43505A;
}

.collection__item-overlay {
    display: none;
    position: absolute;
    bottom: 0;
    height: 56px;
    background-color: var(--primary-color);
    transition: all linear 0.2s;
}

.collection__item-description {
    padding: 8px 16px 0;
    color: #ffffff;
    font-size: 1.2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 2rem;
}  

/* Thank quote */
.thank-quote {
    margin-top: 30px;
}

.thank-quote-container {
    background-color: #ffffff;
    width: 100%;
}

.thank-quote-head {
    margin: 0 20px;
    padding: 12px 0;
    border-bottom: 1px solid #F2F2F2;
}

.thank-quote__text {
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: center;
}

.thank-quote-body {
    margin: 30px 20px 0;
    padding-bottom: 16px;
}

.thank-quote__item-img {
    width: 100%;
}

.thank-quote__item-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 14px;
}

.thank-quote__item-heading {
    color: var(--text-color);
    font-size: 1.6rem;
    text-align: center;
}

.thank-quote__item-description {
    font-size: 1.3rem;
    color: #7387A1;
    text-align: center;
}

/* Customer quote */

.customer-quote {
    background-color: var(--primary-color);
    height: 140px;
    max-width: 1920px;
    margin: 30px auto 0;
}

.customer-quote-container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-quote__list {
    width: 860px;
    height: 140px;
    display: flex;
    overflow-x: scroll;
}

.customer-quote__list::-webkit-scrollbar {
    display: none;
}

.customer-quote__item {
    position: relative;
    display: flex;
    flex-shrink: 0;
    max-height: 100%;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customer-quote__item-name {
    color: #ffffff;
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
}

.customer-quote__item-text {
    margin-top: 10px;
    max-width: 80%;
    color: #ffffff;
    text-align: center;
    font-size: 1.3rem;
}

.customer-quote__icon-swiper {
    position: absolute;
    top: 40%;
    font-size: 2.2rem;
    color: rgb(246, 251, 250);
    cursor: pointer;
}

.customer-quote__icon-swiper:hover:not(.customer-quote__icon-swiper--disable) {
    color: #374E56;
}

.customer-quote__icon-swiper--left {
    left: 0;
    margin-left: 20px;
}

.customer-quote__icon-swiper--right {
    right: 0;
    margin-right: 20px;
}

.customer-quote__icon-swiper--disable {
    color: rgba(246, 251, 250, 0.1);
    cursor: default;
}

.customer-quote-icon-quote {
    position: absolute;
    top: 35%;
    left: 0px;
    margin-left: 20px;
    color: #fff;
    font-size: 2.6rem;
}