.app {
    background-color: var(--background-color);
    overflow: hidden;
}

.header {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.header__with-search {
    display: flex;
    align-items: center;
    padding: 4px 0;
    height: var(--height-navbar-with-search);
}

.header__top {
    padding-top: 12px;
    width: 100%;
}

.header__logo-link {
    display: block;
    height: 30px;
}

.header__logo {
    margin-right: 50px;
}

.header__logo-img {
    width: 98px;
    height: 30px;
}

.header__search--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
}

.header__search-input {
    border: 1px solid #CCCCCC;
    height: 26px;
    flex-grow: 1;
    padding: 0 12px;
    font-size: 1.2rem;
    font-weight: 700;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.header__search-btn {
    padding-left: 26px;
    background: var(--primary-color) url("../../img/search-icon.png") no-repeat;
    background-position-y: center;
    background-position-x: 10px;
}

.header__vip {
    margin-left: auto;
    height: 26px;
    width: 95px;
}

.header__vip-link {
    display: block;
    background: transparent url("../../img/waka-vip.png") no-repeat;
    height: 100%;
}

.header__login {
    margin-left: 30px;
}


/* Head bottom */

.header__bottom {
    padding: 20px 0 8px;
    width: 100%;
}

.header__nav-list {
    display: flex;
    justify-content: center;
}

.header__nav-item {
    margin: 0 20px;
    position: relative;
}

.header__nav-item:first-child {
    margin-left: 0;    
}

.header__nav-item:first-child:hover > .header__nav-info,
.header__nav-item:nth-child(4):hover > .header__nav-info {
    display: flex;
}

.header__nav-item:nth-child(2):hover > .header__nav-feedback,
.header__nav-item:nth-child(3):hover > .header__nav-feedback{
    display: block;
}

.header__nav-item:last-child {
    display: flex;
    margin-right: 0;    
}

.header__nav-item-icon {
    position: absolute;
    top: 0;
    right: -44px;
    display: block;
    color: #ffffff;
    font-size: 1rem;
    line-height: 0;
    background-color: #FA7C2A;
    padding: 8px;
    border-radius: 10px;
    cursor: default;
}

.header__nav-link {
    display: block;
}

.header__nav-info {
    position: absolute;
    display: none;
    top: calc(100% + 4px);
    left: 0;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    width: 200px;
    padding: 12px 0 8px;
    border-radius: 4px;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.08);
    transition: all 0.1s linear;
}

.header__nav-info::before    {
    position: absolute;
    content: "";
    width: 114px;
    height: 8px;
    left: 0;
    bottom: 100%;
}

.header__nav-info-link {
    display: block;
    padding: 8px 10px 8px 20px;
}

.header__nav-feedback {
    display: none;
    position: absolute;
    top: calc(100% + 4px);
    left: 50%;
    padding: 27px 30px 30px;
    transform: translateX(-50%);
    width: 900px;
    height: 272px;
    background: transparent url("../../img/feedback-bg.png") no-repeat;
    border-radius: 4px;
    box-shadow: -1px -2px 4px rgba(0, 0, 0, 0.08);
    transition: all 0.1s linear;
}

.header__nav-feedback::before {
    position: absolute;
    content: "";
    width: 90px;
    height: 12px;
    top: -10px;
    left: 45%;
}

.header__nav-feedback-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.1;
    color: var(--primary-color);
    text-transform: uppercase;
}

.header__nav-feedback-row {
    margin-top: 66px;
    display: flex;
}

.header__nav-feedback-item {
    position: relative;
    width: 240px;
    height: 124px;
    border: 1px dashed var(--primary-color);
    border-radius: 10px;
    margin-right: 60px;
    padding: 20px 12px 4px;
}

.header__nav-feedback-item a {
    display: block;
}

.header__nav-feedback-item:last-child {
    margin-right: 0;
}

.header__nav-quote-icon {
    font-size: 2.5rem;
    color: var(--primary-color);
    z-index: 1;
}

.icon__top-left {
    position: absolute;
    left: -2px;
    top: -2px;
}

.icon__bottom-right {
    position: absolute;
    right: -1px;
    bottom: -2px;
}

.corner-top-left {
    position: absolute;
    width: 35px;
    height: 32px;
    top: -1px;
    left: -1px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}

.corner-bottom-right {
    position: absolute;
    width: 35px;
    height: 32px;
    bottom: -1px;
    right: -1px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.header__nav-feedback-avt-cus1 {
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent url(../../img/customer.png) no-repeat;
    height: 65px;
    width: 60px;
    background-position-x: -85px;
}

.header__nav-feedback-avt-cus2 {
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent url(../../img/customer.png) no-repeat;
    height: 65px;
    width: 60px;
    background-position-x: -5px;
}

.header__nav-feedback-avt-cus3 {
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent url(../../img/customer.png) no-repeat;
    height: 65px;
    width: 60px;
    background-position-x: -165px;
}

.header__nav-feedback-name {
    font-size: 1.6rem;
    text-align: center;
    color: var(--primary-color);
}   

.header__nav-feedback-text {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    color: var(--text-color);
    line-height: 2rem;
}


.header__nav-news {
    position: absolute;
    bottom: 90%;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
}

.header__nav-news-img {
    width: 100%;
    height: 100%;
}

.header__nav-feedback-footer{
    display: block;
    padding: 6px 0;
    text-align: center;
    color: var(--primary-color);
    font-weight: 400;
    line-height: 1.9rem;
}

/* banner header bottom */

.banner {
    position: relative;
    z-index: 1;
}

.home-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 278px;;
}

.home-banner__swaper {
    position: absolute;
    top: 0;
    right: 0;
    /* transform: translateX(100%);
    transition-property: transform;
    animation-name: sideOut;
    animation-timing-function: ease-out;
    animation-duration: 4s;
    animation-delay: 0;
    animation-iteration-count: infinite; */
}

@keyframes sideOut {
    0% {
        transform: translateX(100%);
    }
    30%,70% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.home-banner__link {
    display: block;
    line-height: 0;
}

.home-banner__icon {
    position: absolute;
    font-size: 2.6rem;
    cursor: pointer;
    z-index: 1;
}

.banner-icon-left {
    top: 50%;
    left: 10px;
}

.banner-icon-right {
    top: 50%;
    right: 10px;
}

/* HOME */
